<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cardAccount(); as cardAccountRef) {
      <div>
        <h2 data-cy="cardAccountDetailsHeading"><span>Card Account</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ cardAccountRef.id }}</span>
          </dd>
          <dt><span>External ID</span></dt>
          <dd>
            <span>{{ cardAccountRef.externalId }}</span>
          </dd>
          <dt><span>Currency Code</span></dt>
          <dd>
            <span>{{
              {
                null: '',
                AED: 'AED',
                AFN: 'AFN',
                ALL: 'ALL',
                AMD: 'AMD',
                ANG: 'ANG',
                AOA: 'AOA',
                ARS: 'ARS',
                AUD: 'AUD',
                AWG: 'AWG',
                AZN: 'AZN',
                BAM: 'BAM',
                BBD: 'BBD',
                BDT: 'BDT',
                BGN: 'BGN',
                BHD: 'BHD',
                BIF: 'BIF',
                BMD: 'BMD',
                BND: 'BND',
                BOB: 'BOB',
                BOV: 'BOV',
                BRL: 'BRL',
                BSD: 'BSD',
                BTN: 'BTN',
                BWP: 'BWP',
                BYN: 'BYN',
                BZD: 'BZD',
                CAD: 'CAD',
                CDF: 'CDF',
                CHE: 'CHE',
                CHF: 'CHF',
                CHW: 'CHW',
                CLF: 'CLF',
                CLP: 'CLP',
                CNY: 'CNY',
                COP: 'COP',
                COU: 'COU',
                CRC: 'CRC',
                CUC: 'CUC',
                CUP: 'CUP',
                CVE: 'CVE',
                CZK: 'CZK',
                DJF: 'DJF',
                DKK: 'DKK',
                DOP: 'DOP',
                DZD: 'DZD',
                EGP: 'EGP',
                ERN: 'ERN',
                ETB: 'ETB',
                EUR: 'EUR',
                FJD: 'FJD',
                FKP: 'FKP',
                GBP: 'GBP',
                GEL: 'GEL',
                GHS: 'GHS',
                GIP: 'GIP',
                GMD: 'GMD',
                GNF: 'GNF',
                GTQ: 'GTQ',
                GYD: 'GYD',
                HKD: 'HKD',
                HNL: 'HNL',
                HRK: 'HRK',
                HTG: 'HTG',
                HUF: 'HUF',
                IDR: 'IDR',
                ILS: 'ILS',
                INR: 'INR',
                IQD: 'IQD',
                IRR: 'IRR',
                ISK: 'ISK',
                JMD: 'JMD',
                JOD: 'JOD',
                JPY: 'JPY',
                KES: 'KES',
                KGS: 'KGS',
                KHR: 'KHR',
                KMF: 'KMF',
                KPW: 'KPW',
                KRW: 'KRW',
                KWD: 'KWD',
                KYD: 'KYD',
                KZT: 'KZT',
                LAK: 'LAK',
                LBP: 'LBP',
                LKR: 'LKR',
                LRD: 'LRD',
                LSL: 'LSL',
                LYD: 'LYD',
                MAD: 'MAD',
                MDL: 'MDL',
                MGA: 'MGA',
                MKD: 'MKD',
                MMK: 'MMK',
                MNT: 'MNT',
                MOP: 'MOP',
                MRU: 'MRU',
                MUR: 'MUR',
                MVR: 'MVR',
                MWK: 'MWK',
                MXN: 'MXN',
                MXV: 'MXV',
                MYR: 'MYR',
                MZN: 'MZN',
                NAD: 'NAD',
                NGN: 'NGN',
                NIO: 'NIO',
                NOK: 'NOK',
                NPR: 'NPR',
                NZD: 'NZD',
                OMR: 'OMR',
                PAB: 'PAB',
                PEN: 'PEN',
                PGK: 'PGK',
                PHP: 'PHP',
                PKR: 'PKR',
                PLN: 'PLN',
                PYG: 'PYG',
                QAR: 'QAR',
                RON: 'RON',
                RSD: 'RSD',
                RUB: 'RUB',
                RWF: 'RWF',
                SAR: 'SAR',
                SBD: 'SBD',
                SCR: 'SCR',
                SDG: 'SDG',
                SEK: 'SEK',
                SGD: 'SGD',
                SHP: 'SHP',
                SLL: 'SLL',
                SOS: 'SOS',
                SRD: 'SRD',
                SSP: 'SSP',
                STN: 'STN',
                SVC: 'SVC',
                SYP: 'SYP',
                SZL: 'SZL',
                THB: 'THB',
                TJS: 'TJS',
                TMT: 'TMT',
                TND: 'TND',
                TOP: 'TOP',
                TRY: 'TRY',
                TTD: 'TTD',
                TWD: 'TWD',
                TZA: 'TZA',
                UAH: 'UAH',
                UGX: 'UGX',
                USD: 'USD',
                USN: 'USN',
                UYI: 'UYI',
                UYU: 'UYU',
                UYW: 'UYW',
                UZS: 'UZS',
                VES: 'VES',
                VND: 'VND',
                VUV: 'VUV',
                WST: 'WST',
                XAF: 'XAF',
                XCD: 'XCD',
                XOF: 'XOF',
                XPF: 'XPF',
                YER: 'YER',
                ZAR: 'ZAR',
                ZMW: 'ZMW',
                ZWL: 'ZWL',
              }[cardAccountRef.currencyCode ?? 'null']
            }}</span>
          </dd>
          <dt><span>Balance</span></dt>
          <dd>
            <span>{{ cardAccountRef.balance }}</span>
          </dd>
          <dt><span>Blocked Amount</span></dt>
          <dd>
            <span>{{ cardAccountRef.blockedAmount }}</span>
          </dd>
          <dt><span>Available Amount</span></dt>
          <dd>
            <span>{{ cardAccountRef.availableAmount }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{
              { null: '', Active: 'Active', Blocked: 'Blocked', Closed: 'Closed', Closing: 'Closing' }[cardAccountRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span>Created At</span></dt>
          <dd>
            <span>{{ cardAccountRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Updated At</span></dt>
          <dd>
            <span>{{ cardAccountRef.updatedAt | formatMediumDatetime }}</span>
          </dd>

          <!-- Additional fields -->
          <dt><span>Cards Count</span></dt>
          <dd>
            <span>{{ cardAccountRef.cardsCount }}</span>
          </dd>
          <dt><span>Close Reason</span></dt>
          <dd>
            <span>{{ cardAccountRef.closeReason }}</span>
          </dd>
          <dt><span>Closed At</span></dt>
          <dd>
            <span>{{ cardAccountRef.closedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Closed By</span></dt>
          <dd>
            <span>{{ cardAccountRef.closedBy }}</span>
          </dd>
          <dt><span>Company ID</span></dt>
          <dd>
            <span>{{ cardAccountRef.companyId }}</span>
          </dd>
          <dt><span>Credit Limit</span></dt>
          <dd>
            <span>{{ cardAccountRef.creditLimit }}</span>
          </dd>
          <dt><span>Is Main</span></dt>
          <dd>
            <span>{{ cardAccountRef.isMain }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ cardAccountRef.name }}</span>
          </dd>
          <dt><span>Person ID</span></dt>
          <dd>
            <span>{{ cardAccountRef.personId }}</span>
          </dd>
          <dt><span>Product ID</span></dt>
          <dd>
            <span>{{ cardAccountRef.productId }}</span>
          </dd>
          <dt><span>Reference Number</span></dt>
          <dd>
            <span>{{ cardAccountRef.referenceNumber }}</span>
          </dd>
          <dt><span>Used Credit</span></dt>
          <dd>
            <span>{{ cardAccountRef.usedCredit }}</span>
          </dd>
          <dt><span>VIBAN</span></dt>
          <dd>
            <span>{{ cardAccountRef.viban }}</span>
          </dd>

          <!-- Limits -->
          <dt><span>Daily Contactless Purchase</span></dt>
          <dd>
            <span>{{ cardAccountRef.dailyContactlessPurchase }}</span>
          </dd>
          <dt><span>Daily Internet Purchase</span></dt>
          <dd>
            <span>{{ cardAccountRef.dailyInternetPurchase }}</span>
          </dd>
          <dt><span>Daily Purchase</span></dt>
          <dd>
            <span>{{ cardAccountRef.dailyPurchase }}</span>
          </dd>
          <dt><span>Daily Withdrawal</span></dt>
          <dd>
            <span>{{ cardAccountRef.dailyWithdrawal }}</span>
          </dd>
          <dt><span>Monthly Contactless Purchase</span></dt>
          <dd>
            <span>{{ cardAccountRef.monthlyContactlessPurchase }}</span>
          </dd>
          <dt><span>Monthly Internet Purchase</span></dt>
          <dd>
            <span>{{ cardAccountRef.monthlyInternetPurchase }}</span>
          </dd>
          <dt><span>Monthly Purchase</span></dt>
          <dd>
            <span>{{ cardAccountRef.monthlyPurchase }}</span>
          </dd>
          <dt><span>Monthly Withdrawal</span></dt>
          <dd>
            <span>{{ cardAccountRef.monthlyWithdrawal }}</span>
          </dd>
          <dt><span>Weekly Contactless Purchase</span></dt>
          <dd>
            <span>{{ cardAccountRef.weeklyContactlessPurchase }}</span>
          </dd>
          <dt><span>Weekly Internet Purchase</span></dt>
          <dd>
            <span>{{ cardAccountRef.weeklyInternetPurchase }}</span>
          </dd>
          <dt><span>Weekly Purchase</span></dt>
          <dd>
            <span>{{ cardAccountRef.weeklyPurchase }}</span>
          </dd>
          <dt><span>Weekly Withdrawal</span></dt>
          <dd>
            <span>{{ cardAccountRef.weeklyWithdrawal }}</span>
          </dd>

          <!-- Top-up details -->
          <dt><span>Bank Address</span></dt>
          <dd>
            <span>{{ cardAccountRef.bankAddress }}</span>
          </dd>
          <dt><span>Bank Name</span></dt>
          <dd>
            <span>{{ cardAccountRef.bankName }}</span>
          </dd>
          <dt><span>IBAN</span></dt>
          <dd>
            <span>{{ cardAccountRef.iban }}</span>
          </dd>
          <dt><span>Payment Details</span></dt>
          <dd>
            <span>{{ cardAccountRef.paymentDetails }}</span>
          </dd>
          <dt><span>Receiver Name</span></dt>
          <dd>
            <span>{{ cardAccountRef.receiverName }}</span>
          </dd>
          <dt><span>Registration Number</span></dt>
          <dd>
            <span>{{ cardAccountRef.registrationNumber }}</span>
          </dd>
          <dt><span>Swift Code</span></dt>
          <dd>
            <span>{{ cardAccountRef.swiftCode }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/card-account', cardAccountRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
