<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (card(); as cardRef) {
      <div>
        <h2 data-cy="cardDetailsHeading"><span>Card</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ cardRef.id }}</span>
          </dd>
          <dt><span>Predecessor Card Id</span></dt>
          <dd>
            <span>{{ cardRef.predecessorCardId }}</span>
          </dd>
          <dt><span>Account Id</span></dt>
          <dd>
            <span>{{ cardRef.accountId }}</span>
          </dd>
          <dt><span>Person Id</span></dt>
          <dd>
            <span>{{ cardRef.personId }}</span>
          </dd>
          <dt><span>External Id</span></dt>
          <dd>
            <span>{{ cardRef.externalId }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{
              { null: '', ChipAndPin: 'ChipAndPin', ChipAndPinAnonymous: 'ChipAndPinAnonymous', Virtual: 'Virtual' }[cardRef.type ?? 'null']
            }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ cardRef.name }}</span>
          </dd>
          <dt><span>Masked Card Number</span></dt>
          <dd>
            <span>{{ cardRef.maskedCardNumber }}</span>
          </dd>
          <dt><span>Reference Number</span></dt>
          <dd>
            <span>{{ cardRef.referenceNumber }}</span>
          </dd>
          <dt><span>Expiry Date</span></dt>
          <dd>
            <span>{{ cardRef.expiryDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Block Type</span></dt>
          <dd>
            <span>{{
              {
                null: '',
                BlockedByCardUser: 'BlockedByCardUser',
                BlockedByCardholder: 'BlockedByCardholder',
                BlockedByCardholderViaPhone: 'BlockedByCardholderViaPhone',
                BlockedByClient: 'BlockedByClient',
                BlockedByIssuer: 'BlockedByIssuer',
                Counterfeit: 'Counterfeit',
                Fraudulent: 'Fraudulent',
                Frozen: 'Frozen',
                Lost: 'Lost',
                MaxInvalidTriesCVV2: 'MaxInvalidTriesCVV2',
                MaxInvalidTriesPIN: 'MaxInvalidTriesPIN',
                NotDelivered: 'NotDelivered',
                Stolen: 'Stolen',
              }[cardRef.blockType ?? 'null']
            }}</span>
          </dd>
          <dt><span>Blocked At</span></dt>
          <dd>
            <span>{{ cardRef.blockedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Blocked By</span></dt>
          <dd>
            <span>{{ cardRef.blockedBy }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{
              {
                null: '',
                Active: 'Active',
                AwaitingRenewal: 'AwaitingRenewal',
                Blocked: 'Blocked',
                Closed: 'Closed',
                Closing: 'Closing',
                Created: 'Created',
                Dispatched: 'Dispatched',
                Expired: 'Expired',
                Ordered: 'Ordered',
                Personalized: 'Personalized',
              }[cardRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span>Embossing Name</span></dt>
          <dd>
            <span>{{ cardRef.embossingName }}</span>
          </dd>
          <dt><span>Embossing First Name</span></dt>
          <dd>
            <span>{{ cardRef.embossingFirstName }}</span>
          </dd>
          <dt><span>Embossing Last Name</span></dt>
          <dd>
            <span>{{ cardRef.embossingLastName }}</span>
          </dd>
          <dt><span>Embossing Company Name</span></dt>
          <dd>
            <span>{{ cardRef.embossingCompanyName }}</span>
          </dd>
          <dt><span>Limit Daily Purchase</span></dt>
          <dd>
            <span>{{ cardRef.limitDailyPurchase }}</span>
          </dd>
          <dt><span>Limit Daily Withdrawal</span></dt>
          <dd>
            <span>{{ cardRef.limitDailyWithdrawal }}</span>
          </dd>
          <dt><span>Limit Monthly Purchase</span></dt>
          <dd>
            <span>{{ cardRef.limitMonthlyPurchase }}</span>
          </dd>
          <dt><span>Limit Monthly Withdrawal</span></dt>
          <dd>
            <span>{{ cardRef.limitMonthlyWithdrawal }}</span>
          </dd>
          <dt><span>Limit Transaction Purchase</span></dt>
          <dd>
            <span>{{ cardRef.limitTransactionPurchase }}</span>
          </dd>
          <dt><span>Secure 3 D Type</span></dt>
          <dd>
            <span>{{
              { null: '', SMSOTPAndStaticPassword: 'SMSOTPAndStaticPassword', AppBasedOTP: 'AppBasedOTP', None: 'None' }[
                cardRef.secure3DType ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Secure 3 D Mobile</span></dt>
          <dd>
            <span>{{ cardRef.secure3DMobile }}</span>
          </dd>
          <dt><span>Secure 3 D Email</span></dt>
          <dd>
            <span>{{ cardRef.secure3DEmail }}</span>
          </dd>
          <dt><span>Secure 3 D Language Code</span></dt>
          <dd>
            <span>{{ { null: '', AAR: 'AAR', ENG: 'ENG' }[cardRef.secure3DLanguageCode ?? 'null'] }}</span>
          </dd>
          <dt><span>Secure 3 D Out Of Band Enabled</span></dt>
          <dd>
            <span>{{ cardRef.secure3DOutOfBandEnabled }}</span>
          </dd>
          <dt><span>Secure 3 D Out Of Band Id</span></dt>
          <dd>
            <span>{{ cardRef.secure3DOutOfBandId }}</span>
          </dd>
          <dt><span>Delivery First Name</span></dt>
          <dd>
            <span>{{ cardRef.deliveryFirstName }}</span>
          </dd>
          <dt><span>Delivery Last Name</span></dt>
          <dd>
            <span>{{ cardRef.deliveryLastName }}</span>
          </dd>
          <dt><span>Delivery Company Name</span></dt>
          <dd>
            <span>{{ cardRef.deliveryCompanyName }}</span>
          </dd>
          <dt><span>Delivery Address 1</span></dt>
          <dd>
            <span>{{ cardRef.deliveryAddress1 }}</span>
          </dd>
          <dt><span>Delivery Address 2</span></dt>
          <dd>
            <span>{{ cardRef.deliveryAddress2 }}</span>
          </dd>
          <dt><span>Delivery Postal Code</span></dt>
          <dd>
            <span>{{ cardRef.deliveryPostalCode }}</span>
          </dd>
          <dt><span>Delivery City</span></dt>
          <dd>
            <span>{{ cardRef.deliveryCity }}</span>
          </dd>
          <dt><span>Delivery Country Code</span></dt>
          <dd>
            <span>{{
              {
                null: '',
                ABW: 'ABW',
                AFG: 'AFG',
                AGO: 'AGO',
                AIA: 'AIA',
                ALA: 'ALA',
                ALB: 'ALB',
                AND: 'AND',
                ANT: 'ANT',
                ARE: 'ARE',
                ARG: 'ARG',
                ARM: 'ARM',
                ASM: 'ASM',
                ATA: 'ATA',
                ATF: 'ATF',
                ATG: 'ATG',
                AUS: 'AUS',
                AUT: 'AUT',
                AZE: 'AZE',
                BDI: 'BDI',
                BEL: 'BEL',
                BEN: 'BEN',
                BES: 'BES',
                BFA: 'BFA',
                BGD: 'BGD',
                BGR: 'BGR',
                BHR: 'BHR',
                BHS: 'BHS',
                BIH: 'BIH',
                BLM: 'BLM',
                BLR: 'BLR',
                BLZ: 'BLZ',
                BMU: 'BMU',
                BOL: 'BOL',
                BRA: 'BRA',
                BRB: 'BRB',
                BRN: 'BRN',
                BTN: 'BTN',
                BVT: 'BVT',
                BWA: 'BWA',
                CAF: 'CAF',
                CAN: 'CAN',
                CCK: 'CCK',
                CHE: 'CHE',
                CHL: 'CHL',
                CHN: 'CHN',
                CIV: 'CIV',
                CMR: 'CMR',
                COD: 'COD',
                COG: 'COG',
                COK: 'COK',
                COL: 'COL',
                COM: 'COM',
                CPV: 'CPV',
                CRI: 'CRI',
                CUB: 'CUB',
                CUW: 'CUW',
                CXR: 'CXR',
                CYM: 'CYM',
                CYP: 'CYP',
                CZE: 'CZE',
                DEU: 'DEU',
                DJI: 'DJI',
                DMA: 'DMA',
                DNK: 'DNK',
                DOM: 'DOM',
                DZA: 'DZA',
                ECU: 'ECU',
                EGY: 'EGY',
                ERI: 'ERI',
                ESH: 'ESH',
                ESP: 'ESP',
                EST: 'EST',
                ETH: 'ETH',
                FIN: 'FIN',
                FJI: 'FJI',
                FLK: 'FLK',
                FRA: 'FRA',
                FRO: 'FRO',
                FSM: 'FSM',
                GAB: 'GAB',
                GBR: 'GBR',
                GEO: 'GEO',
                GGY: 'GGY',
                GHA: 'GHA',
                GIB: 'GIB',
                GIN: 'GIN',
                GLP: 'GLP',
                GMB: 'GMB',
                GNB: 'GNB',
                GNQ: 'GNQ',
                GRC: 'GRC',
                GRD: 'GRD',
                GRL: 'GRL',
                GTM: 'GTM',
                GUF: 'GUF',
                GUM: 'GUM',
                GUY: 'GUY',
                HKG: 'HKG',
                HMD: 'HMD',
                HND: 'HND',
                HRV: 'HRV',
                HTI: 'HTI',
                HUN: 'HUN',
                IDN: 'IDN',
                IMN: 'IMN',
                IND: 'IND',
                IOT: 'IOT',
                IRL: 'IRL',
                IRN: 'IRN',
                IRQ: 'IRQ',
                ISL: 'ISL',
                ISR: 'ISR',
                ITA: 'ITA',
                JAM: 'JAM',
                JEY: 'JEY',
                JOR: 'JOR',
                JPN: 'JPN',
                KAZ: 'KAZ',
                KEN: 'KEN',
                KGZ: 'KGZ',
                KHM: 'KHM',
                KIR: 'KIR',
                KNA: 'KNA',
                KOR: 'KOR',
                KWT: 'KWT',
                LAO: 'LAO',
                LBN: 'LBN',
                LBR: 'LBR',
                LBY: 'LBY',
                LCA: 'LCA',
                LIE: 'LIE',
                LKA: 'LKA',
                LSO: 'LSO',
                LTU: 'LTU',
                LUX: 'LUX',
                LVA: 'LVA',
                MAC: 'MAC',
                MAF: 'MAF',
                MAR: 'MAR',
                MCO: 'MCO',
                MDA: 'MDA',
                MDG: 'MDG',
                MDV: 'MDV',
                MEX: 'MEX',
                MHL: 'MHL',
                MKD: 'MKD',
                MLI: 'MLI',
                MLT: 'MLT',
                MMR: 'MMR',
                MNE: 'MNE',
                MNG: 'MNG',
                MNP: 'MNP',
                MOZ: 'MOZ',
                MRT: 'MRT',
                MSR: 'MSR',
                MTQ: 'MTQ',
                MUS: 'MUS',
                MWI: 'MWI',
                MYS: 'MYS',
                MYT: 'MYT',
                NAM: 'NAM',
                NCL: 'NCL',
                NER: 'NER',
                NFK: 'NFK',
                NGA: 'NGA',
                NIC: 'NIC',
                NIU: 'NIU',
                NLD: 'NLD',
                NOR: 'NOR',
                NPL: 'NPL',
                NRU: 'NRU',
                NZL: 'NZL',
                OMR: 'OMR',
                PAK: 'PAK',
                PAN: 'PAN',
                PCN: 'PCN',
                PER: 'PER',
                PHL: 'PHL',
                PLW: 'PLW',
                PNG: 'PNG',
                POL: 'POL',
                PRI: 'PRI',
                PRK: 'PRK',
                PRT: 'PRT',
                PRY: 'PRY',
                PSE: 'PSE',
                PYF: 'PYF',
                QAT: 'QAT',
                REU: 'REU',
                ROU: 'ROU',
                RUS: 'RUS',
                RWA: 'RWA',
                SAU: 'SAU',
                SDN: 'SDN',
                SEN: 'SEN',
                SGP: 'SGP',
                SGS: 'SGS',
                SHN: 'SHN',
                SJM: 'SJM',
                SLB: 'SLB',
                SLE: 'SLE',
                SLV: 'SLV',
                SMR: 'SMR',
                SOM: 'SOM',
                SPM: 'SPM',
                SRB: 'SRB',
                SSD: 'SSD',
                STP: 'STP',
                SUR: 'SUR',
                SVK: 'SVK',
                SVN: 'SVN',
                SWE: 'SWE',
                SWZ: 'SWZ',
                SXM: 'SXM',
                SYC: 'SYC',
                SYR: 'SYR',
                TCA: 'TCA',
                TCD: 'TCD',
                TGO: 'TGO',
                THA: 'THA',
                TJK: 'TJK',
                TKL: 'TKL',
                TKM: 'TKM',
                TLS: 'TLS',
                TON: 'TON',
                TTO: 'TTO',
                TUN: 'TUN',
                TUR: 'TUR',
                TUV: 'TUV',
                TWN: 'TWN',
                TZA: 'TZA',
                UGA: 'UGA',
                UKR: 'UKR',
                UMI: 'UMI',
                UNK: 'UNK',
                URY: 'URY',
                USA: 'USA',
                UZS: 'UZS',
                VAT: 'VAT',
                VCT: 'VCT',
                VEN: 'VEN',
                VGB: 'VGB',
                VIR: 'VIR',
                VNM: 'VNM',
                VUT: 'VUT',
                WLF: 'WLF',
                WSM: 'WSM',
                XKX: 'XKX',
                YEM: 'YEM',
                ZAF: 'ZAF',
                ZMB: 'ZMB',
                ZWE: 'ZWE',
              }[cardRef.deliveryCountryCode ?? 'null']
            }}</span>
          </dd>
          <dt><span>Delivery Dispatch Method</span></dt>
          <dd>
            <span>{{
              { null: '', StandardMail: 'StandardMail', DHLExpress: 'DHLExpress', FedEx: 'FedEx', Courier: 'Courier' }[
                cardRef.deliveryDispatchMethod ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Delivery Phone</span></dt>
          <dd>
            <span>{{ cardRef.deliveryPhone }}</span>
          </dd>
          <dt><span>Delivery Tracking Number</span></dt>
          <dd>
            <span>{{ cardRef.deliveryTrackingNumber }}</span>
          </dd>
          <dt><span>Is Enrolled For 3 D Secure</span></dt>
          <dd>
            <span>{{ cardRef.isEnrolledFor3DSecure }}</span>
          </dd>
          <dt><span>Is Card 3 D Secure Activated</span></dt>
          <dd>
            <span>{{ cardRef.isCard3DSecureActivated }}</span>
          </dd>
          <dt><span>Renew Automatically</span></dt>
          <dd>
            <span>{{ cardRef.renewAutomatically }}</span>
          </dd>
          <dt><span>Is Disposable</span></dt>
          <dd>
            <span>{{ cardRef.isDisposable }}</span>
          </dd>
          <dt><span>Security Contactless Enabled</span></dt>
          <dd>
            <span>{{ cardRef.securityContactlessEnabled }}</span>
          </dd>
          <dt><span>Security Withdrawal Enabled</span></dt>
          <dd>
            <span>{{ cardRef.securityWithdrawalEnabled }}</span>
          </dd>
          <dt><span>Security Internet Purchase Enabled</span></dt>
          <dd>
            <span>{{ cardRef.securityInternetPurchaseEnabled }}</span>
          </dd>
          <dt><span>Security Overall Limits Enabled</span></dt>
          <dd>
            <span>{{ cardRef.securityOverallLimitsEnabled }}</span>
          </dd>
          <dt><span>Security All Time Limits Enabled</span></dt>
          <dd>
            <span>{{ cardRef.securityAllTimeLimitsEnabled }}</span>
          </dd>
          <dt><span>Personalization Product Code</span></dt>
          <dd>
            <span>{{ cardRef.personalizationProductCode }}</span>
          </dd>
          <dt><span>Carrier Type</span></dt>
          <dd>
            <span>{{ { null: '', Standard: 'Standard', Custom: 'Custom' }[cardRef.carrierType ?? 'null'] }}</span>
          </dd>
          <dt><span>Card Metadata Profile Id</span></dt>
          <dd>
            <span>{{ cardRef.cardMetadataProfileId }}</span>
          </dd>
          <dt><span>Activated At</span></dt>
          <dd>
            <span>{{ cardRef.activatedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Created At</span></dt>
          <dd>
            <span>{{ cardRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Updated At</span></dt>
          <dd>
            <span>{{ cardRef.updatedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Closed At</span></dt>
          <dd>
            <span>{{ cardRef.closedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Closed By</span></dt>
          <dd>
            <span>{{ cardRef.closedBy }}</span>
          </dd>
          <dt><span>Close Reason</span></dt>
          <dd>
            <span>{{
              {
                null: '',
                ClosedByCardholder: 'ClosedByCardholder',
                ClosedByClient: 'ClosedByClient',
                ClosedByIssuer: 'ClosedByIssuer',
                ClosedByRenewal: 'ClosedByRenewal',
                ClosedByReplace: 'ClosedByReplace',
                ClosedBySystem: 'ClosedBySystem',
              }[cardRef.closeReason ?? 'null']
            }}</span>
          </dd>
          <dt><span>Company Id</span></dt>
          <dd>
            <span>{{ cardRef.companyId }}</span>
          </dd>
          <dt><span>Dispatched At</span></dt>
          <dd>
            <span>{{ cardRef.dispatchedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Notification Receipts Reminder Enabled</span></dt>
          <dd>
            <span>{{ cardRef.notificationReceiptsReminderEnabled }}</span>
          </dd>
          <dt><span>Notification Instant Spend Update Enabled</span></dt>
          <dd>
            <span>{{ cardRef.notificationInstantSpendUpdateEnabled }}</span>
          </dd>
          <dt><span>Disposable Type</span></dt>
          <dd>
            <span>{{
              { null: '', SingleUse: 'SingleUse', CustomExpiryDate: 'CustomExpiryDate', None: 'None' }[cardRef.disposableType ?? 'null']
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/card', cardRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
