<div>
  <h2 id="page-heading" data-cy="CompanyHeading">
    <span>Companies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-company"
        [routerLink]="['/company/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Company</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (companies().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Companies found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="registrationNumber">
              <div class="d-flex">
                <span>Registration Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="regAddressCountryCode">
              <div class="d-flex">
                <span>Reg Address Country Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="regAddress1">
              <div class="d-flex">
                <span>Reg Address 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="regAddress2">
              <div class="d-flex">
                <span>Reg Address 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="regAddressCity">
              <div class="d-flex">
                <span>Reg Address City</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="regAddressPostalCode">
              <div class="d-flex">
                <span>Reg Address Postal Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hqAddressCountryCode">
              <div class="d-flex">
                <span>Hq Address Country Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hqAddress1">
              <div class="d-flex">
                <span>Hq Address 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hqAddress2">
              <div class="d-flex">
                <span>Hq Address 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hqAddressCity">
              <div class="d-flex">
                <span>Hq Address City</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hqAddressPostalCode">
              <div class="d-flex">
                <span>Hq Address Postal Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="riskProfile">
              <div class="d-flex">
                <span>Risk Profile</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mobile">
              <div class="d-flex">
                <span>Mobile</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span>Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span>Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span>Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span>Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedBy">
              <div class="d-flex">
                <span>Updated By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deletedAt">
              <div class="d-flex">
                <span>Deleted At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deletedBy">
              <div class="d-flex">
                <span>Deleted By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="industryType">
              <div class="d-flex">
                <span>Industry Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateOfIncorporation">
              <div class="d-flex">
                <span>Date Of Incorporation</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="businessRelationshipPurpose">
              <div class="d-flex">
                <span>Business Relationship Purpose</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isSanctionsRelated">
              <div class="d-flex">
                <span>Is Sanctions Related</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isAdverseMediaInvolved">
              <div class="d-flex">
                <span>Is Adverse Media Involved</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employeesQuantity">
              <div class="d-flex">
                <span>Employees Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cardSpendingAmount">
              <div class="d-flex">
                <span>Card Spending Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="limitDailyPurchase">
              <div class="d-flex">
                <span>Limit Daily Purchase</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="limitDailyWithdrawal">
              <div class="d-flex">
                <span>Limit Daily Withdrawal</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="limitMonthlyPurchase">
              <div class="d-flex">
                <span>Limit Monthly Purchase</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="limitMonthlyWithdrawal">
              <div class="d-flex">
                <span>Limit Monthly Withdrawal</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="kybStatus">
              <div class="d-flex">
                <span>Kyb Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span>Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pushNotificationsEnabled">
              <div class="d-flex">
                <span>Push Notifications Enabled</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="preferredLanguageCode">
              <div class="d-flex">
                <span>Preferred Language Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vatNumber">
              <div class="d-flex">
                <span>Vat Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (company of companies(); track trackId(company)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/company', company.id, 'view']">{{ company.id }}</a>
              </td>
              <td>{{ company.name }}</td>
              <td>{{ company.registrationNumber }}</td>
              <td>
                {{
                  {
                    null: '',
                    ABW: 'ABW',
                    AFG: 'AFG',
                    AGO: 'AGO',
                    AIA: 'AIA',
                    ALA: 'ALA',
                    ALB: 'ALB',
                    AND: 'AND',
                    ANT: 'ANT',
                    ARE: 'ARE',
                    ARG: 'ARG',
                    ARM: 'ARM',
                    ASM: 'ASM',
                    ATA: 'ATA',
                    ATF: 'ATF',
                    ATG: 'ATG',
                    AUS: 'AUS',
                    AUT: 'AUT',
                    AZE: 'AZE',
                    BDI: 'BDI',
                    BEL: 'BEL',
                    BEN: 'BEN',
                    BES: 'BES',
                    BFA: 'BFA',
                    BGD: 'BGD',
                    BGR: 'BGR',
                    BHR: 'BHR',
                    BHS: 'BHS',
                    BIH: 'BIH',
                    BLM: 'BLM',
                    BLR: 'BLR',
                    BLZ: 'BLZ',
                    BMU: 'BMU',
                    BOL: 'BOL',
                    BRA: 'BRA',
                    BRB: 'BRB',
                    BRN: 'BRN',
                    BTN: 'BTN',
                    BVT: 'BVT',
                    BWA: 'BWA',
                    CAF: 'CAF',
                    CAN: 'CAN',
                    CCK: 'CCK',
                    CHE: 'CHE',
                    CHL: 'CHL',
                    CHN: 'CHN',
                    CIV: 'CIV',
                    CMR: 'CMR',
                    COD: 'COD',
                    COG: 'COG',
                    COK: 'COK',
                    COL: 'COL',
                    COM: 'COM',
                    CPV: 'CPV',
                    CRI: 'CRI',
                    CUB: 'CUB',
                    CUW: 'CUW',
                    CXR: 'CXR',
                    CYM: 'CYM',
                    CYP: 'CYP',
                    CZE: 'CZE',
                    DEU: 'DEU',
                    DJI: 'DJI',
                    DMA: 'DMA',
                    DNK: 'DNK',
                    DOM: 'DOM',
                    DZA: 'DZA',
                    ECU: 'ECU',
                    EGY: 'EGY',
                    ERI: 'ERI',
                    ESH: 'ESH',
                    ESP: 'ESP',
                    EST: 'EST',
                    ETH: 'ETH',
                    FIN: 'FIN',
                    FJI: 'FJI',
                    FLK: 'FLK',
                    FRA: 'FRA',
                    FRO: 'FRO',
                    FSM: 'FSM',
                    GAB: 'GAB',
                    GBR: 'GBR',
                    GEO: 'GEO',
                    GGY: 'GGY',
                    GHA: 'GHA',
                    GIB: 'GIB',
                    GIN: 'GIN',
                    GLP: 'GLP',
                    GMB: 'GMB',
                    GNB: 'GNB',
                    GNQ: 'GNQ',
                    GRC: 'GRC',
                    GRD: 'GRD',
                    GRL: 'GRL',
                    GTM: 'GTM',
                    GUF: 'GUF',
                    GUM: 'GUM',
                    GUY: 'GUY',
                    HKG: 'HKG',
                    HMD: 'HMD',
                    HND: 'HND',
                    HRV: 'HRV',
                    HTI: 'HTI',
                    HUN: 'HUN',
                    IDN: 'IDN',
                    IMN: 'IMN',
                    IND: 'IND',
                    IOT: 'IOT',
                    IRL: 'IRL',
                    IRN: 'IRN',
                    IRQ: 'IRQ',
                    ISL: 'ISL',
                    ISR: 'ISR',
                    ITA: 'ITA',
                    JAM: 'JAM',
                    JEY: 'JEY',
                    JOR: 'JOR',
                    JPN: 'JPN',
                    KAZ: 'KAZ',
                    KEN: 'KEN',
                    KGZ: 'KGZ',
                    KHM: 'KHM',
                    KIR: 'KIR',
                    KNA: 'KNA',
                    KOR: 'KOR',
                    KWT: 'KWT',
                    LAO: 'LAO',
                    LBN: 'LBN',
                    LBR: 'LBR',
                    LBY: 'LBY',
                    LCA: 'LCA',
                    LIE: 'LIE',
                    LKA: 'LKA',
                    LSO: 'LSO',
                    LTU: 'LTU',
                    LUX: 'LUX',
                    LVA: 'LVA',
                    MAC: 'MAC',
                    MAF: 'MAF',
                    MAR: 'MAR',
                    MCO: 'MCO',
                    MDA: 'MDA',
                    MDG: 'MDG',
                    MDV: 'MDV',
                    MEX: 'MEX',
                    MHL: 'MHL',
                    MKD: 'MKD',
                    MLI: 'MLI',
                    MLT: 'MLT',
                    MMR: 'MMR',
                    MNE: 'MNE',
                    MNG: 'MNG',
                    MNP: 'MNP',
                    MOZ: 'MOZ',
                    MRT: 'MRT',
                    MSR: 'MSR',
                    MTQ: 'MTQ',
                    MUS: 'MUS',
                    MWI: 'MWI',
                    MYS: 'MYS',
                    MYT: 'MYT',
                    NAM: 'NAM',
                    NCL: 'NCL',
                    NER: 'NER',
                    NFK: 'NFK',
                    NGA: 'NGA',
                    NIC: 'NIC',
                    NIU: 'NIU',
                    NLD: 'NLD',
                    NOR: 'NOR',
                    NPL: 'NPL',
                    NRU: 'NRU',
                    NZL: 'NZL',
                    OMR: 'OMR',
                    PAK: 'PAK',
                    PAN: 'PAN',
                    PCN: 'PCN',
                    PER: 'PER',
                    PHL: 'PHL',
                    PLW: 'PLW',
                    PNG: 'PNG',
                    POL: 'POL',
                    PRI: 'PRI',
                    PRK: 'PRK',
                    PRT: 'PRT',
                    PRY: 'PRY',
                    PSE: 'PSE',
                    PYF: 'PYF',
                    QAT: 'QAT',
                    REU: 'REU',
                    ROU: 'ROU',
                    RUS: 'RUS',
                    RWA: 'RWA',
                    SAU: 'SAU',
                    SDN: 'SDN',
                    SEN: 'SEN',
                    SGP: 'SGP',
                    SGS: 'SGS',
                    SHN: 'SHN',
                    SJM: 'SJM',
                    SLB: 'SLB',
                    SLE: 'SLE',
                    SLV: 'SLV',
                    SMR: 'SMR',
                    SOM: 'SOM',
                    SPM: 'SPM',
                    SRB: 'SRB',
                    SSD: 'SSD',
                    STP: 'STP',
                    SUR: 'SUR',
                    SVK: 'SVK',
                    SVN: 'SVN',
                    SWE: 'SWE',
                    SWZ: 'SWZ',
                    SXM: 'SXM',
                    SYC: 'SYC',
                    SYR: 'SYR',
                    TCA: 'TCA',
                    TCD: 'TCD',
                    TGO: 'TGO',
                    THA: 'THA',
                    TJK: 'TJK',
                    TKL: 'TKL',
                    TKM: 'TKM',
                    TLS: 'TLS',
                    TON: 'TON',
                    TTO: 'TTO',
                    TUN: 'TUN',
                    TUR: 'TUR',
                    TUV: 'TUV',
                    TWN: 'TWN',
                    TZA: 'TZA',
                    UGA: 'UGA',
                    UKR: 'UKR',
                    UMI: 'UMI',
                    UNK: 'UNK',
                    URY: 'URY',
                    USA: 'USA',
                    UZS: 'UZS',
                    VAT: 'VAT',
                    VCT: 'VCT',
                    VEN: 'VEN',
                    VGB: 'VGB',
                    VIR: 'VIR',
                    VNM: 'VNM',
                    VUT: 'VUT',
                    WLF: 'WLF',
                    WSM: 'WSM',
                    XKX: 'XKX',
                    YEM: 'YEM',
                    ZAF: 'ZAF',
                    ZMB: 'ZMB',
                    ZWE: 'ZWE',
                  }[company.regAddressCountryCode ?? 'null']
                }}
              </td>
              <td>{{ company.regAddress1 }}</td>
              <td>{{ company.regAddress2 }}</td>
              <td>{{ company.regAddressCity }}</td>
              <td>{{ company.regAddressPostalCode }}</td>
              <td>
                {{
                  {
                    null: '',
                    ABW: 'ABW',
                    AFG: 'AFG',
                    AGO: 'AGO',
                    AIA: 'AIA',
                    ALA: 'ALA',
                    ALB: 'ALB',
                    AND: 'AND',
                    ANT: 'ANT',
                    ARE: 'ARE',
                    ARG: 'ARG',
                    ARM: 'ARM',
                    ASM: 'ASM',
                    ATA: 'ATA',
                    ATF: 'ATF',
                    ATG: 'ATG',
                    AUS: 'AUS',
                    AUT: 'AUT',
                    AZE: 'AZE',
                    BDI: 'BDI',
                    BEL: 'BEL',
                    BEN: 'BEN',
                    BES: 'BES',
                    BFA: 'BFA',
                    BGD: 'BGD',
                    BGR: 'BGR',
                    BHR: 'BHR',
                    BHS: 'BHS',
                    BIH: 'BIH',
                    BLM: 'BLM',
                    BLR: 'BLR',
                    BLZ: 'BLZ',
                    BMU: 'BMU',
                    BOL: 'BOL',
                    BRA: 'BRA',
                    BRB: 'BRB',
                    BRN: 'BRN',
                    BTN: 'BTN',
                    BVT: 'BVT',
                    BWA: 'BWA',
                    CAF: 'CAF',
                    CAN: 'CAN',
                    CCK: 'CCK',
                    CHE: 'CHE',
                    CHL: 'CHL',
                    CHN: 'CHN',
                    CIV: 'CIV',
                    CMR: 'CMR',
                    COD: 'COD',
                    COG: 'COG',
                    COK: 'COK',
                    COL: 'COL',
                    COM: 'COM',
                    CPV: 'CPV',
                    CRI: 'CRI',
                    CUB: 'CUB',
                    CUW: 'CUW',
                    CXR: 'CXR',
                    CYM: 'CYM',
                    CYP: 'CYP',
                    CZE: 'CZE',
                    DEU: 'DEU',
                    DJI: 'DJI',
                    DMA: 'DMA',
                    DNK: 'DNK',
                    DOM: 'DOM',
                    DZA: 'DZA',
                    ECU: 'ECU',
                    EGY: 'EGY',
                    ERI: 'ERI',
                    ESH: 'ESH',
                    ESP: 'ESP',
                    EST: 'EST',
                    ETH: 'ETH',
                    FIN: 'FIN',
                    FJI: 'FJI',
                    FLK: 'FLK',
                    FRA: 'FRA',
                    FRO: 'FRO',
                    FSM: 'FSM',
                    GAB: 'GAB',
                    GBR: 'GBR',
                    GEO: 'GEO',
                    GGY: 'GGY',
                    GHA: 'GHA',
                    GIB: 'GIB',
                    GIN: 'GIN',
                    GLP: 'GLP',
                    GMB: 'GMB',
                    GNB: 'GNB',
                    GNQ: 'GNQ',
                    GRC: 'GRC',
                    GRD: 'GRD',
                    GRL: 'GRL',
                    GTM: 'GTM',
                    GUF: 'GUF',
                    GUM: 'GUM',
                    GUY: 'GUY',
                    HKG: 'HKG',
                    HMD: 'HMD',
                    HND: 'HND',
                    HRV: 'HRV',
                    HTI: 'HTI',
                    HUN: 'HUN',
                    IDN: 'IDN',
                    IMN: 'IMN',
                    IND: 'IND',
                    IOT: 'IOT',
                    IRL: 'IRL',
                    IRN: 'IRN',
                    IRQ: 'IRQ',
                    ISL: 'ISL',
                    ISR: 'ISR',
                    ITA: 'ITA',
                    JAM: 'JAM',
                    JEY: 'JEY',
                    JOR: 'JOR',
                    JPN: 'JPN',
                    KAZ: 'KAZ',
                    KEN: 'KEN',
                    KGZ: 'KGZ',
                    KHM: 'KHM',
                    KIR: 'KIR',
                    KNA: 'KNA',
                    KOR: 'KOR',
                    KWT: 'KWT',
                    LAO: 'LAO',
                    LBN: 'LBN',
                    LBR: 'LBR',
                    LBY: 'LBY',
                    LCA: 'LCA',
                    LIE: 'LIE',
                    LKA: 'LKA',
                    LSO: 'LSO',
                    LTU: 'LTU',
                    LUX: 'LUX',
                    LVA: 'LVA',
                    MAC: 'MAC',
                    MAF: 'MAF',
                    MAR: 'MAR',
                    MCO: 'MCO',
                    MDA: 'MDA',
                    MDG: 'MDG',
                    MDV: 'MDV',
                    MEX: 'MEX',
                    MHL: 'MHL',
                    MKD: 'MKD',
                    MLI: 'MLI',
                    MLT: 'MLT',
                    MMR: 'MMR',
                    MNE: 'MNE',
                    MNG: 'MNG',
                    MNP: 'MNP',
                    MOZ: 'MOZ',
                    MRT: 'MRT',
                    MSR: 'MSR',
                    MTQ: 'MTQ',
                    MUS: 'MUS',
                    MWI: 'MWI',
                    MYS: 'MYS',
                    MYT: 'MYT',
                    NAM: 'NAM',
                    NCL: 'NCL',
                    NER: 'NER',
                    NFK: 'NFK',
                    NGA: 'NGA',
                    NIC: 'NIC',
                    NIU: 'NIU',
                    NLD: 'NLD',
                    NOR: 'NOR',
                    NPL: 'NPL',
                    NRU: 'NRU',
                    NZL: 'NZL',
                    OMR: 'OMR',
                    PAK: 'PAK',
                    PAN: 'PAN',
                    PCN: 'PCN',
                    PER: 'PER',
                    PHL: 'PHL',
                    PLW: 'PLW',
                    PNG: 'PNG',
                    POL: 'POL',
                    PRI: 'PRI',
                    PRK: 'PRK',
                    PRT: 'PRT',
                    PRY: 'PRY',
                    PSE: 'PSE',
                    PYF: 'PYF',
                    QAT: 'QAT',
                    REU: 'REU',
                    ROU: 'ROU',
                    RUS: 'RUS',
                    RWA: 'RWA',
                    SAU: 'SAU',
                    SDN: 'SDN',
                    SEN: 'SEN',
                    SGP: 'SGP',
                    SGS: 'SGS',
                    SHN: 'SHN',
                    SJM: 'SJM',
                    SLB: 'SLB',
                    SLE: 'SLE',
                    SLV: 'SLV',
                    SMR: 'SMR',
                    SOM: 'SOM',
                    SPM: 'SPM',
                    SRB: 'SRB',
                    SSD: 'SSD',
                    STP: 'STP',
                    SUR: 'SUR',
                    SVK: 'SVK',
                    SVN: 'SVN',
                    SWE: 'SWE',
                    SWZ: 'SWZ',
                    SXM: 'SXM',
                    SYC: 'SYC',
                    SYR: 'SYR',
                    TCA: 'TCA',
                    TCD: 'TCD',
                    TGO: 'TGO',
                    THA: 'THA',
                    TJK: 'TJK',
                    TKL: 'TKL',
                    TKM: 'TKM',
                    TLS: 'TLS',
                    TON: 'TON',
                    TTO: 'TTO',
                    TUN: 'TUN',
                    TUR: 'TUR',
                    TUV: 'TUV',
                    TWN: 'TWN',
                    TZA: 'TZA',
                    UGA: 'UGA',
                    UKR: 'UKR',
                    UMI: 'UMI',
                    UNK: 'UNK',
                    URY: 'URY',
                    USA: 'USA',
                    UZS: 'UZS',
                    VAT: 'VAT',
                    VCT: 'VCT',
                    VEN: 'VEN',
                    VGB: 'VGB',
                    VIR: 'VIR',
                    VNM: 'VNM',
                    VUT: 'VUT',
                    WLF: 'WLF',
                    WSM: 'WSM',
                    XKX: 'XKX',
                    YEM: 'YEM',
                    ZAF: 'ZAF',
                    ZMB: 'ZMB',
                    ZWE: 'ZWE',
                  }[company.hqAddressCountryCode ?? 'null']
                }}
              </td>
              <td>{{ company.hqAddress1 }}</td>
              <td>{{ company.hqAddress2 }}</td>
              <td>{{ company.hqAddressCity }}</td>
              <td>{{ company.hqAddressPostalCode }}</td>
              <td>{{ { null: '', Low: 'Low', Medium: 'Medium', High: 'High' }[company.riskProfile ?? 'null'] }}</td>
              <td>{{ company.mobile }}</td>
              <td>{{ company.email }}</td>
              <td>{{ company.createdAt | formatMediumDatetime }}</td>
              <td>{{ company.createdBy }}</td>
              <td>{{ company.updatedAt | formatMediumDatetime }}</td>
              <td>{{ company.updatedBy }}</td>
              <td>{{ company.deletedAt | formatMediumDatetime }}</td>
              <td>{{ company.deletedBy }}</td>
              <td>{{ company.industryType }}</td>
              <td>{{ company.dateOfIncorporation | formatMediumDatetime }}</td>
              <td>{{ company.businessRelationshipPurpose }}</td>
              <td>{{ company.isSanctionsRelated }}</td>
              <td>{{ company.isAdverseMediaInvolved }}</td>
              <td>{{ company.employeesQuantity }}</td>
              <td>{{ company.cardSpendingAmount }}</td>
              <td>{{ company.limitDailyPurchase }}</td>
              <td>{{ company.limitDailyWithdrawal }}</td>
              <td>{{ company.limitMonthlyPurchase }}</td>
              <td>{{ company.limitMonthlyWithdrawal }}</td>
              <td>
                {{
                  {
                    null: '',
                    NotStarted: 'NotStarted',
                    Pending: 'Pending',
                    Approved: 'Approved',
                    Rejected: 'Rejected',
                    NotConfirmed: 'NotConfirmed',
                  }[company.kybStatus ?? 'null']
                }}
              </td>
              <td>
                {{ { null: '', Active: 'Active', Blocked: 'Blocked', Closed: 'Closed', Closing: 'Closing' }[company.status ?? 'null'] }}
              </td>
              <td>{{ company.pushNotificationsEnabled }}</td>
              <td>{{ { null: '', AAR: 'AAR', ENG: 'ENG' }[company.preferredLanguageCode ?? 'null'] }}</td>
              <td>{{ company.vatNumber }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/company', company.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/company', company.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(company)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (companies().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
