<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (accountStatementRecord(); as accountStatementRecordRef) {
      <div>
        <h2 data-cy="accountStatementRecordDetailsHeading"><span>Account Statement Record</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.id }}</span>
          </dd>
          <dt><span>Account Id</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.accountId }}</span>
          </dd>
          <dt><span>Card Id</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.cardId }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.type }}</span>
          </dd>
          <dt><span>Group</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.group }}</span>
          </dd>
          <dt><span>Sub Type</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.subType }}</span>
          </dd>
          <dt><span>Date</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.date | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Purchase Date</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.purchaseDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Transaction Amount</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.transactionAmount }}</span>
          </dd>
          <dt><span>Transaction Currency Code</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.transactionCurrencyCode }}</span>
          </dd>
          <dt><span>Account Amount</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.accountAmount }}</span>
          </dd>
          <dt><span>Account Currency Code</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.accountCurrencyCode }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.status }}</span>
          </dd>
          <dt><span>Response</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.response }}</span>
          </dd>
          <dt><span>Response Code</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.responseCode }}</span>
          </dd>
          <dt><span>Is Reversal</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.isReversal }}</span>
          </dd>
          <dt><span>Is Declined</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.isDeclined }}</span>
          </dd>
          <dt><span>Is Cleared</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.isCleared }}</span>
          </dd>
          <dt><span>Original Authorization Id</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.originalAuthorizationId }}</span>
          </dd>
          <dt><span>Merchant Category Code</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.merchantCategoryCode }}</span>
          </dd>
          <dt><span>Merchant Id</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.merchantId }}</span>
          </dd>
          <dt><span>Terminal Id</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.terminalId }}</span>
          </dd>
          <dt><span>Merchant Name</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.merchantName }}</span>
          </dd>
          <dt><span>Merchant City</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.merchantCity }}</span>
          </dd>
          <dt><span>Merchant Country Code</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.merchantCountryCode }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.description }}</span>
          </dd>
          <dt><span>Enriched Merchant Name</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.enrichedMerchantName }}</span>
          </dd>
          <dt><span>Enriched Merchant Url</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.enrichedMerchantUrl }}</span>
          </dd>
          <dt><span>Enriched Merchant Domain</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.enrichedMerchantDomain }}</span>
          </dd>
          <dt><span>Enriched Merchant Telephone</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.enrichedMerchantTelephone }}</span>
          </dd>
          <dt><span>Enriched Merchant Icon Url</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.enrichedMerchantIconUrl }}</span>
          </dd>
          <dt><span>Exchange Rate</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.exchangeRate }}</span>
          </dd>
          <dt><span>Total Amount</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.totalAmount }}</span>
          </dd>
          <dt><span>Has Payment Document Files</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.hasPaymentDocumentFiles }}</span>
          </dd>
          <dt><span>Has Payment Notes</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.hasPaymentNotes }}</span>
          </dd>
          <dt><span>Marked For Dispute At</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.markedForDisputeAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Marked For Dispute By</span></dt>
          <dd>
            <span>{{ accountStatementRecordRef.markedForDisputeBy }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/account-statement-record', accountStatementRecordRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
