<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-card-account-heading" data-cy="CardAccountCreateUpdateHeading">Create or edit a Card Account</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          @let idRef = editForm.get('id')!;
          <div class="mb-3">
            <label class="form-label" for="field_id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            @if (idRef.invalid && (idRef.dirty || idRef.touched)) {
              <div>
                @if (editForm.get('id')?.errors?.required) {
                  <small class="form-text text-danger">This field is required.</small>
                }
              </div>
            }
          </div>
        }

        @let accountNumberRef = editForm.get('accountNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_accountNumber">Account Number</label>
          <input
            type="text"
            class="form-control"
            name="accountNumber"
            id="field_accountNumber"
            data-cy="accountNumber"
            formControlName="accountNumber"
          />
          @if (accountNumberRef.invalid && (accountNumberRef.dirty || accountNumberRef.touched)) {
            <div>
              @if (editForm.get('accountNumber')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let currencyRef = editForm.get('currency')!;
        <div class="mb-3">
          <label class="form-label" for="field_currency">Currency</label>
          <select class="form-control" name="currency" formControlName="currency" id="field_currency" data-cy="currency">
            <option [ngValue]="null"></option>
            @for (currencyCode of currencyCodeValues; track $index) {
              <option [value]="currencyCode">
                {{
                  {
                    null: '',
                    AED: 'AED',
                    AFN: 'AFN',
                    ALL: 'ALL',
                    AMD: 'AMD',
                    ANG: 'ANG',
                    AOA: 'AOA',
                    ARS: 'ARS',
                    AUD: 'AUD',
                    AWG: 'AWG',
                    AZN: 'AZN',
                    BAM: 'BAM',
                    BBD: 'BBD',
                    BDT: 'BDT',
                    BGN: 'BGN',
                    BHD: 'BHD',
                    BIF: 'BIF',
                    BMD: 'BMD',
                    BND: 'BND',
                    BOB: 'BOB',
                    BOV: 'BOV',
                    BRL: 'BRL',
                    BSD: 'BSD',
                    BTN: 'BTN',
                    BWP: 'BWP',
                    BYN: 'BYN',
                    BZD: 'BZD',
                    CAD: 'CAD',
                    CDF: 'CDF',
                    CHE: 'CHE',
                    CHF: 'CHF',
                    CHW: 'CHW',
                    CLF: 'CLF',
                    CLP: 'CLP',
                    CNY: 'CNY',
                    COP: 'COP',
                    COU: 'COU',
                    CRC: 'CRC',
                    CUC: 'CUC',
                    CUP: 'CUP',
                    CVE: 'CVE',
                    CZK: 'CZK',
                    DJF: 'DJF',
                    DKK: 'DKK',
                    DOP: 'DOP',
                    DZD: 'DZD',
                    EGP: 'EGP',
                    ERN: 'ERN',
                    ETB: 'ETB',
                    EUR: 'EUR',
                    FJD: 'FJD',
                    FKP: 'FKP',
                    GBP: 'GBP',
                    GEL: 'GEL',
                    GHS: 'GHS',
                    GIP: 'GIP',
                    GMD: 'GMD',
                    GNF: 'GNF',
                    GTQ: 'GTQ',
                    GYD: 'GYD',
                    HKD: 'HKD',
                    HNL: 'HNL',
                    HRK: 'HRK',
                    HTG: 'HTG',
                    HUF: 'HUF',
                    IDR: 'IDR',
                    ILS: 'ILS',
                    INR: 'INR',
                    IQD: 'IQD',
                    IRR: 'IRR',
                    ISK: 'ISK',
                    JMD: 'JMD',
                    JOD: 'JOD',
                    JPY: 'JPY',
                    KES: 'KES',
                    KGS: 'KGS',
                    KHR: 'KHR',
                    KMF: 'KMF',
                    KPW: 'KPW',
                    KRW: 'KRW',
                    KWD: 'KWD',
                    KYD: 'KYD',
                    KZT: 'KZT',
                    LAK: 'LAK',
                    LBP: 'LBP',
                    LKR: 'LKR',
                    LRD: 'LRD',
                    LSL: 'LSL',
                    LYD: 'LYD',
                    MAD: 'MAD',
                    MDL: 'MDL',
                    MGA: 'MGA',
                    MKD: 'MKD',
                    MMK: 'MMK',
                    MNT: 'MNT',
                    MOP: 'MOP',
                    MRU: 'MRU',
                    MUR: 'MUR',
                    MVR: 'MVR',
                    MWK: 'MWK',
                    MXN: 'MXN',
                    MXV: 'MXV',
                    MYR: 'MYR',
                    MZN: 'MZN',
                    NAD: 'NAD',
                    NGN: 'NGN',
                    NIO: 'NIO',
                    NOK: 'NOK',
                    NPR: 'NPR',
                    NZD: 'NZD',
                    OMR: 'OMR',
                    PAB: 'PAB',
                    PEN: 'PEN',
                    PGK: 'PGK',
                    PHP: 'PHP',
                    PKR: 'PKR',
                    PLN: 'PLN',
                    PYG: 'PYG',
                    QAR: 'QAR',
                    RON: 'RON',
                    RSD: 'RSD',
                    RUB: 'RUB',
                    RWF: 'RWF',
                    SAR: 'SAR',
                    SBD: 'SBD',
                    SCR: 'SCR',
                    SDG: 'SDG',
                    SEK: 'SEK',
                    SGD: 'SGD',
                    SHP: 'SHP',
                    SLL: 'SLL',
                    SOS: 'SOS',
                    SRD: 'SRD',
                    SSP: 'SSP',
                    STN: 'STN',
                    SVC: 'SVC',
                    SYP: 'SYP',
                    SZL: 'SZL',
                    THB: 'THB',
                    TJS: 'TJS',
                    TMT: 'TMT',
                    TND: 'TND',
                    TOP: 'TOP',
                    TRY: 'TRY',
                    TTD: 'TTD',
                    TWD: 'TWD',
                    TZA: 'TZA',
                    UAH: 'UAH',
                    UGX: 'UGX',
                    USD: 'USD',
                    USN: 'USN',
                    UYI: 'UYI',
                    UYU: 'UYU',
                    UYW: 'UYW',
                    UZS: 'UZS',
                    VES: 'VES',
                    VND: 'VND',
                    VUV: 'VUV',
                    WST: 'WST',
                    XAF: 'XAF',
                    XCD: 'XCD',
                    XOF: 'XOF',
                    XPF: 'XPF',
                    YER: 'YER',
                    ZAR: 'ZAR',
                    ZMW: 'ZMW',
                    ZWL: 'ZWL',
                  }[currencyCode]
                }}
              </option>
            }
          </select>
          @if (currencyRef.invalid && (currencyRef.dirty || currencyRef.touched)) {
            <div>
              @if (editForm.get('currency')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let balanceRef = editForm.get('balance')!;
        <div class="mb-3">
          <label class="form-label" for="field_balance">Balance</label>
          <input type="number" class="form-control" name="balance" id="field_balance" data-cy="balance" formControlName="balance" />
          @if (balanceRef.invalid && (balanceRef.dirty || balanceRef.touched)) {
            <div>
              @if (editForm.get('balance')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('balance')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let reservedAmountRef = editForm.get('reservedAmount')!;
        <div class="mb-3">
          <label class="form-label" for="field_reservedAmount">Reserved Amount</label>
          <input
            type="number"
            class="form-control"
            name="reservedAmount"
            id="field_reservedAmount"
            data-cy="reservedAmount"
            formControlName="reservedAmount"
          />
          @if (reservedAmountRef.invalid && (reservedAmountRef.dirty || reservedAmountRef.touched)) {
            <div>
              @if (editForm.get('reservedAmount')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('reservedAmount')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let availableAmountRef = editForm.get('availableAmount')!;
        <div class="mb-3">
          <label class="form-label" for="field_availableAmount">Available Amount</label>
          <input
            type="number"
            class="form-control"
            name="availableAmount"
            id="field_availableAmount"
            data-cy="availableAmount"
            formControlName="availableAmount"
          />
          @if (availableAmountRef.invalid && (availableAmountRef.dirty || availableAmountRef.touched)) {
            <div>
              @if (editForm.get('availableAmount')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('availableAmount')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let blockedAmountRef = editForm.get('blockedAmount')!;
        <div class="mb-3">
          <label class="form-label" for="field_blockedAmount">Blocked Amount</label>
          <input
            type="number"
            class="form-control"
            name="blockedAmount"
            id="field_blockedAmount"
            data-cy="blockedAmount"
            formControlName="blockedAmount"
          />
          @if (blockedAmountRef.invalid && (blockedAmountRef.dirty || blockedAmountRef.touched)) {
            <div>
              @if (editForm.get('blockedAmount')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('blockedAmount')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            @for (accountStatus of accountStatusValues; track $index) {
              <option [value]="accountStatus">
                {{ { null: '', Active: 'Active', Blocked: 'Blocked', Closed: 'Closed', Closing: 'Closing' }[accountStatus] }}
              </option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let createdAtRef = editForm.get('createdAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdAtRef.invalid && (createdAtRef.dirty || createdAtRef.touched)) {
            <div>
              @if (editForm.get('createdAt')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let updatedAtRef = editForm.get('updatedAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (updatedAtRef.invalid && (updatedAtRef.dirty || updatedAtRef.touched)) {
            <div>
              @if (editForm.get('updatedAt')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('updatedAt')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <!-- Additional fields -->
        @let cardsCountRef = editForm.get('cardsCount')!;
        <div class="mb-3">
          <label class="form-label" for="field_cardsCount">Cards Count</label>
          <input
            type="number"
            class="form-control"
            name="cardsCount"
            id="field_cardsCount"
            data-cy="cardsCount"
            formControlName="cardsCount"
          />
          @if (cardsCountRef.invalid && (cardsCountRef.dirty || cardsCountRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('cardsCount')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_closeReason">Close Reason</label>
          <input
            type="text"
            class="form-control"
            name="closeReason"
            id="field_closeReason"
            data-cy="closeReason"
            formControlName="closeReason"
          />
        </div>

        @let closedAtRef = editForm.get('closedAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_closedAt">Closed At</label>
          <div class="d-flex">
            <input
              id="field_closedAt"
              data-cy="closedAt"
              type="datetime-local"
              class="form-control"
              name="closedAt"
              formControlName="closedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (closedAtRef.invalid && (closedAtRef.dirty || closedAtRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('closedAt')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_closedBy">Closed By</label>
          <input type="text" class="form-control" name="closedBy" id="field_closedBy" data-cy="closedBy" formControlName="closedBy" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_companyId">Company ID</label>
          <input type="text" class="form-control" name="companyId" id="field_companyId" data-cy="companyId" formControlName="companyId" />
        </div>

        @let creditLimitRef = editForm.get('creditLimit')!;
        <div class="mb-3">
          <label class="form-label" for="field_creditLimit">Credit Limit</label>
          <input
            type="number"
            class="form-control"
            name="creditLimit"
            id="field_creditLimit"
            data-cy="creditLimit"
            formControlName="creditLimit"
          />
          @if (creditLimitRef.invalid && (creditLimitRef.dirty || creditLimitRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('creditLimit')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let currencyCodeRef = editForm.get('currencyCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_currencyCode">Currency Code</label>
          <input
            type="text"
            class="form-control"
            name="currencyCode"
            id="field_currencyCode"
            data-cy="currencyCode"
            formControlName="currencyCode"
            [ngClass]="{ 'is-invalid': currencyCodeRef.invalid && (currencyCodeRef.dirty || currencyCodeRef.touched) }"
          />
          <div *ngIf="currencyCodeRef.invalid && (currencyCodeRef.dirty || currencyCodeRef.touched)" class="invalid-feedback">
            <div *ngIf="currencyCodeRef.errors?.['required']">Currency code is required.</div>
            <div *ngIf="currencyCodeRef.errors?.['minlength']">Currency code must be exactly 3 characters.</div>
            <div *ngIf="currencyCodeRef.errors?.['maxlength']">Currency code must be exactly 3 characters.</div>
            <div *ngIf="currencyCodeRef.errors?.['pattern']">Currency code must contain only uppercase letters.</div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_externalId">External ID</label>
          <input
            type="text"
            class="form-control"
            name="externalId"
            id="field_externalId"
            data-cy="externalId"
            formControlName="externalId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isMain">Is Main</label>
          <input type="checkbox" class="form-check-input" name="isMain" id="field_isMain" data-cy="isMain" formControlName="isMain" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_personId">Person ID</label>
          <input type="text" class="form-control" name="personId" id="field_personId" data-cy="personId" formControlName="personId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_productId">Product ID</label>
          <input type="text" class="form-control" name="productId" id="field_productId" data-cy="productId" formControlName="productId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_referenceNumber">Reference Number</label>
          <input
            type="text"
            class="form-control"
            name="referenceNumber"
            id="field_referenceNumber"
            data-cy="referenceNumber"
            formControlName="referenceNumber"
          />
        </div>

        @let usedCreditRef = editForm.get('usedCredit')!;
        <div class="mb-3">
          <label class="form-label" for="field_usedCredit">Used Credit</label>
          <input
            type="number"
            class="form-control"
            name="usedCredit"
            id="field_usedCredit"
            data-cy="usedCredit"
            formControlName="usedCredit"
          />
          @if (usedCreditRef.invalid && (usedCreditRef.dirty || usedCreditRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('usedCredit')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_viban">VIBAN</label>
          <input type="text" class="form-control" name="viban" id="field_viban" data-cy="viban" formControlName="viban" />
        </div>

        <!-- Limits -->
        @let dailyContactlessPurchaseRef = editForm.get('dailyContactlessPurchase')!;
        <div class="mb-3">
          <label class="form-label" for="field_dailyContactlessPurchase">Daily Contactless Purchase</label>
          <input
            type="number"
            class="form-control"
            name="dailyContactlessPurchase"
            id="field_dailyContactlessPurchase"
            data-cy="dailyContactlessPurchase"
            formControlName="dailyContactlessPurchase"
          />
          @if (dailyContactlessPurchaseRef.invalid && (dailyContactlessPurchaseRef.dirty || dailyContactlessPurchaseRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('dailyContactlessPurchase')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let dailyInternetPurchaseRef = editForm.get('dailyInternetPurchase')!;
        <div class="mb-3">
          <label class="form-label" for="field_dailyInternetPurchase">Daily Internet Purchase</label>
          <input
            type="number"
            class="form-control"
            name="dailyInternetPurchase"
            id="field_dailyInternetPurchase"
            data-cy="dailyInternetPurchase"
            formControlName="dailyInternetPurchase"
          />
          @if (dailyInternetPurchaseRef.invalid && (dailyInternetPurchaseRef.dirty || dailyInternetPurchaseRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('dailyInternetPurchase')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let dailyPurchaseRef = editForm.get('dailyPurchase')!;
        <div class="mb-3">
          <label class="form-label" for="field_dailyPurchase">Daily Purchase</label>
          <input
            type="number"
            class="form-control"
            name="dailyPurchase"
            id="field_dailyPurchase"
            data-cy="dailyPurchase"
            formControlName="dailyPurchase"
          />
          @if (dailyPurchaseRef.invalid && (dailyPurchaseRef.dirty || dailyPurchaseRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('dailyPurchase')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let dailyWithdrawalRef = editForm.get('dailyWithdrawal')!;
        <div class="mb-3">
          <label class="form-label" for="field_dailyWithdrawal">Daily Withdrawal</label>
          <input
            type="number"
            class="form-control"
            name="dailyWithdrawal"
            id="field_dailyWithdrawal"
            data-cy="dailyWithdrawal"
            formControlName="dailyWithdrawal"
          />
          @if (dailyWithdrawalRef.invalid && (dailyWithdrawalRef.dirty || dailyWithdrawalRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('dailyWithdrawal')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let monthlyContactlessPurchaseRef = editForm.get('monthlyContactlessPurchase')!;
        <div class="mb-3">
          <label class="form-label" for="field_monthlyContactlessPurchase">Monthly Contactless Purchase</label>
          <input
            type="number"
            class="form-control"
            name="monthlyContactlessPurchase"
            id="field_monthlyContactlessPurchase"
            data-cy="monthlyContactlessPurchase"
            formControlName="monthlyContactlessPurchase"
          />
          @if (monthlyContactlessPurchaseRef.invalid && (monthlyContactlessPurchaseRef.dirty || monthlyContactlessPurchaseRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('monthlyContactlessPurchase')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let monthlyInternetPurchaseRef = editForm.get('monthlyInternetPurchase')!;
        <div class="mb-3">
          <label class="form-label" for="field_monthlyInternetPurchase">Monthly Internet Purchase</label>
          <input
            type="number"
            class="form-control"
            name="monthlyInternetPurchase"
            id="field_monthlyInternetPurchase"
            data-cy="monthlyInternetPurchase"
            formControlName="monthlyInternetPurchase"
          />
          @if (monthlyInternetPurchaseRef.invalid && (monthlyInternetPurchaseRef.dirty || monthlyInternetPurchaseRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('monthlyInternetPurchase')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let monthlyPurchaseRef = editForm.get('monthlyPurchase')!;
        <div class="mb-3">
          <label class="form-label" for="field_monthlyPurchase">Monthly Purchase</label>
          <input
            type="number"
            class="form-control"
            name="monthlyPurchase"
            id="field_monthlyPurchase"
            data-cy="monthlyPurchase"
            formControlName="monthlyPurchase"
          />
          @if (monthlyPurchaseRef.invalid && (monthlyPurchaseRef.dirty || monthlyPurchaseRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('monthlyPurchase')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let monthlyWithdrawalRef = editForm.get('monthlyWithdrawal')!;
        <div class="mb-3">
          <label class="form-label" for="field_monthlyWithdrawal">Monthly Withdrawal</label>
          <input
            type="number"
            class="form-control"
            name="monthlyWithdrawal"
            id="field_monthlyWithdrawal"
            data-cy="monthlyWithdrawal"
            formControlName="monthlyWithdrawal"
          />
          @if (monthlyWithdrawalRef.invalid && (monthlyWithdrawalRef.dirty || monthlyWithdrawalRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('monthlyWithdrawal')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let weeklyContactlessPurchaseRef = editForm.get('weeklyContactlessPurchase')!;
        <div class="mb-3">
          <label class="form-label" for="field_weeklyContactlessPurchase">Weekly Contactless Purchase</label>
          <input
            type="number"
            class="form-control"
            name="weeklyContactlessPurchase"
            id="field_weeklyContactlessPurchase"
            data-cy="weeklyContactlessPurchase"
            formControlName="weeklyContactlessPurchase"
          />
          @if (weeklyContactlessPurchaseRef.invalid && (weeklyContactlessPurchaseRef.dirty || weeklyContactlessPurchaseRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('weeklyContactlessPurchase')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let weeklyInternetPurchaseRef = editForm.get('weeklyInternetPurchase')!;
        <div class="mb-3">
          <label class="form-label" for="field_weeklyInternetPurchase">Weekly Internet Purchase</label>
          <input
            type="number"
            class="form-control"
            name="weeklyInternetPurchase"
            id="field_weeklyInternetPurchase"
            data-cy="weeklyInternetPurchase"
            formControlName="weeklyInternetPurchase"
          />
          @if (weeklyInternetPurchaseRef.invalid && (weeklyInternetPurchaseRef.dirty || weeklyInternetPurchaseRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('weeklyInternetPurchase')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let weeklyPurchaseRef = editForm.get('weeklyPurchase')!;
        <div class="mb-3">
          <label class="form-label" for="field_weeklyPurchase">Weekly Purchase</label>
          <input
            type="number"
            class="form-control"
            name="weeklyPurchase"
            id="field_weeklyPurchase"
            data-cy="weeklyPurchase"
            formControlName="weeklyPurchase"
          />
          @if (weeklyPurchaseRef.invalid && (weeklyPurchaseRef.dirty || weeklyPurchaseRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('weeklyPurchase')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let weeklyWithdrawalRef = editForm.get('weeklyWithdrawal')!;
        <div class="mb-3">
          <label class="form-label" for="field_weeklyWithdrawal">Weekly Withdrawal</label>
          <input
            type="number"
            class="form-control"
            name="weeklyWithdrawal"
            id="field_weeklyWithdrawal"
            data-cy="weeklyWithdrawal"
            formControlName="weeklyWithdrawal"
          />
          @if (weeklyWithdrawalRef.invalid && (weeklyWithdrawalRef.dirty || weeklyWithdrawalRef.touched)) {
            <div>
              <small class="form-text text-danger" [hidden]="!editForm.get('weeklyWithdrawal')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <!-- Top-up details -->
        <div class="mb-3">
          <label class="form-label" for="field_bankAddress">Bank Address</label>
          <input
            type="text"
            class="form-control"
            name="bankAddress"
            id="field_bankAddress"
            data-cy="bankAddress"
            formControlName="bankAddress"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_bankName">Bank Name</label>
          <input type="text" class="form-control" name="bankName" id="field_bankName" data-cy="bankName" formControlName="bankName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_iban">IBAN</label>
          <input type="text" class="form-control" name="iban" id="field_iban" data-cy="iban" formControlName="iban" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_paymentDetails">Payment Details</label>
          <input
            type="text"
            class="form-control"
            name="paymentDetails"
            id="field_paymentDetails"
            data-cy="paymentDetails"
            formControlName="paymentDetails"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_receiverName">Receiver Name</label>
          <input
            type="text"
            class="form-control"
            name="receiverName"
            id="field_receiverName"
            data-cy="receiverName"
            formControlName="receiverName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_registrationNumber">Registration Number</label>
          <input
            type="text"
            class="form-control"
            name="registrationNumber"
            id="field_registrationNumber"
            data-cy="registrationNumber"
            formControlName="registrationNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_swiftCode">Swift Code</label>
          <input type="text" class="form-control" name="swiftCode" id="field_swiftCode" data-cy="swiftCode" formControlName="swiftCode" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
