<div>
  <h2 id="page-heading" data-cy="AccountStatementRecordHeading">
    <span>Account Statement Records</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-account-statement-record"
        [routerLink]="['/account-statement-record/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Account Statement Record</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (accountStatementRecords().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Account Statement Records found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cardId">
              <div class="d-flex">
                <span>Card Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span>Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="group">
              <div class="d-flex">
                <span>Group</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="date">
              <div class="d-flex">
                <span>Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="transactionAmount">
              <div class="d-flex">
                <span>Transaction Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="transactionCurrencyCode">
              <div class="d-flex">
                <span>Transaction Currency Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accountAmount">
              <div class="d-flex">
                <span>Account Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accountCurrencyCode">
              <div class="d-flex">
                <span>Account Currency Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span>Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="response">
              <div class="d-flex">
                <span>Response</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="responseCode">
              <div class="d-flex">
                <span>Response Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="merchantName">
              <div class="d-flex">
                <span>Merchant Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span>Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="originalAuthorizationId">
              <div class="d-flex">
                <span>Original Authorization Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (accountStatementRecord of accountStatementRecords(); track trackId(accountStatementRecord)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/account-statement-record', accountStatementRecord.id, 'view']">{{ accountStatementRecord.id }}</a>
              </td>
              <td>{{ accountStatementRecord.cardId }}</td>
              <td>{{ accountStatementRecord.type }}</td>
              <td>{{ accountStatementRecord.group }}</td>
              <td>{{ accountStatementRecord.date | formatMediumDatetime }}</td>
              <td>{{ accountStatementRecord.transactionAmount }}</td>
              <td>{{ accountStatementRecord.transactionCurrencyCode }}</td>
              <td>{{ accountStatementRecord.accountAmount }}</td>
              <td>{{ accountStatementRecord.accountCurrencyCode }}</td>
              <td>{{ accountStatementRecord.status }}</td>
              <td>{{ accountStatementRecord.response }}</td>
              <td>{{ accountStatementRecord.responseCode }}</td>
              <td>{{ accountStatementRecord.merchantName }}</td>
              <td>{{ accountStatementRecord.description }}</td>
              <td>{{ accountStatementRecord.originalAuthorizationId }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/account-statement-record', accountStatementRecord.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/account-statement-record', accountStatementRecord.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(accountStatementRecord)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (accountStatementRecords().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
