<div>
  <h2 id="page-heading" data-cy="CardHeading">
    <span>Cards</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-card"
        [routerLink]="['/card/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Card</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (cards().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Cards found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Id</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accountId">
              <div class="d-flex">
                <span>Account Id</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Name</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="externalId">
              <div class="d-flex">
                <span>External Id</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maskedCardNumber">
              <div class="d-flex">
                <span>Masked Card Number</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span>Type</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span>Status</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="blockType">
              <div class="d-flex">
                <span>Block Type</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (card of cards(); track trackId(card)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/card', card.id, 'view']">{{ card.id }}</a>
              </td>
              <td>
                <a [routerLink]="['/card-account', card.accountId, 'view']">{{ card.accountId }}</a>
              </td>
              <td>{{ card.name }}</td>
              <td>{{ card.externalId }}</td>
              <td>{{ card.maskedCardNumber }}</td>
              <td>
                {{
                  { null: '', ChipAndPin: 'ChipAndPin', ChipAndPinAnonymous: 'ChipAndPinAnonymous', Virtual: 'Virtual' }[
                    card.type ?? 'null'
                  ]
                }}
              </td>
              <td>
                {{
                  {
                    null: '',
                    Active: 'Active',
                    AwaitingRenewal: 'AwaitingRenewal',
                    Blocked: 'Blocked',
                    Closed: 'Closed',
                    Closing: 'Closing',
                    Created: 'Created',
                    Dispatched: 'Dispatched',
                    Expired: 'Expired',
                    Ordered: 'Ordered',
                    Personalized: 'Personalized',
                  }[card.status ?? 'null']
                }}
              </td>
              <td>
                {{
                  {
                    null: '',
                    BlockedByCardUser: 'BlockedByCardUser',
                    BlockedByCardholder: 'BlockedByCardholder',
                    BlockedByCardholderViaPhone: 'BlockedByCardholderViaPhone',
                    BlockedByClient: 'BlockedByClient',
                    BlockedByIssuer: 'BlockedByIssuer',
                    Counterfeit: 'Counterfeit',
                    Fraudulent: 'Fraudulent',
                    Frozen: 'Frozen',
                    Lost: 'Lost',
                    MaxInvalidTriesCVV2: 'MaxInvalidTriesCVV2',
                    MaxInvalidTriesPIN: 'MaxInvalidTriesPIN',
                    NotDelivered: 'NotDelivered',
                    Stolen: 'Stolen',
                  }[card.blockType ?? 'null']
                }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/card', card.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/card', card.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(card)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
